*{
box-sizing: border-box;
margin: 0;
padding: 0;
border: 1px solid black;
}


header nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color:rgba(0, 132, 253, 1) ;
}

.nav-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav .logo,.menu{
    background-color: lightskyblue;
    padding: 10px;
}

.list{
    display: none;
}

.intro-container{
    max-width:100% ;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box1-2,.box3-4-5{
    display: flex;
    flex-direction: column;
    gap: 20px;

}



.intro-container .box{
    height: 300px /*test*/;
    border-radius: 10px;
    background-color:rgba(181, 221, 255, 1) ;
}


main section:nth-child(1){
    background-color:rgba(151, 146, 228, 1) ;
    padding-bottom: 40px;
}

.container1,.container2,.container3,.container4,.container5,.footer-container{
  max-width:calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
 
}
  
.container1 div{
    height: 300px; /*test*/
}

main section:nth-child(2){
    margin-bottom: 40px;
}
.container2 div{
    height: 300px; /*test*/
}

main section:nth-child(3){
    padding-bottom: 40px;
    background-color: rgba(151, 146, 228, 1);
}

.cards div{
    height: 300px; /*test*/
}

.cards{
    display: flex;
    flex-direction: column;
}

main section:nth-child(4){
    padding-bottom: 40px;
}

.container4 div{
    height: 300px; /*test*/
}

main section:nth-child(5){
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:rgba(151, 146, 228, 1) ;
}

.container5{
    height: 300px; /*test*/
    background-color: lightblue;
}

*footer{
    border:red 1px solid;
}

footer section{
    background-color: rgba(51, 51, 51, 1);
     padding-top: 40px;
     padding-bottom: 40px;
}

.footer-container{
    height: 300px; /*test*/
    background-color: lightblue;
}

@media screen and (min-width: 768px){

    .box1-2{
        max-width: 100%;
        display: flex; 
        flex-direction: row;
        gap: 20px;   
    }

 .box1-2 .box:nth-child(1){
    width: calc(100% / 3 *2);
    height:300px ; /*test*/
 } 

 .box1-2 .box:nth-child(2){
    width:calc(100% / 3) ;
    height:300px ; /*test*/
 }

 .box3-4-5{
    max-width: 100%;
    display: flex; 
    flex-direction: row;
    gap:20px;
 }

 .box3-4-5 .box{
    width:calc(100% / 3);
    height:300px ; /*test*/
 }


 .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

 .cards div{
    width: calc(100% / 2);
 }

 .container4{
    display: flex;
 }

 .container4 div{
    width: calc(100% / 2);
 }
}


@media screen and (min-width: 992px){

  .nav-info{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .list{
    display:flex;
    align-items: center;
  }

  .list ul{
    display: flex;
    align-items: center;
    gap:20px;
    list-style-type: none;
  }

  .menu{
    display: none;
  }

  .intro-container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .box1-2 .box:nth-child(1){
    display: flex;
   
  }
  
  .box1-2 .box:nth-child(1) div{
    width: calc(100% / 2);
  }
  

  .container1{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .container1 div{
    width: calc(100% / 2);
  }


 .container2,.container3,.container4,.container5,.footer-container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
 } 

 .cards div{
    width: calc(100% / 3);
 }
}