*{
box-sizing: border-box;
margin: 0;
padding: 0;
border: 1px solid black;
}


header nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color:rgba(0, 132, 253, 1) ;
}

.nav-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav .logo,.menu{
    background-color: lightskyblue;
    padding: 10px;
}

.list{
    display: none;
}

.intro-container{
    max-width:100% ;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box1-2,.box3-4-5{
    display: flex;
    flex-direction: column;
    gap: 20px;

}



.intro-container .box{
    height: 300px /*test*/;
    border-radius: 10px;
    background-color:rgba(181, 221, 255, 1) ;
}





@media screen and (min-width: 768px){

    .box1-2{
        max-width: 100%;
        display: flex; 
        flex-direction: row;
        gap: 20px;   
    }

 .box1-2 .box:nth-child(1){
    width: calc(100% / 3 *2);
    height:300px ; /*test*/
 } 

 .box1-2 .box:nth-child(2){
    width:calc(100% / 3) ;
    height:300px ; /*test*/
 }

 .box3-4-5{
    max-width: 100%;
    display: flex; 
    flex-direction: row;
    gap:20px;
 }

 .box3-4-5 .box{
    width:calc(100% / 3);
    height:300px ; /*test*/
 }

}


@media screen and (min-width: 992px){

  .nav-info{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .list{
    display:flex;
    align-items: center;
  }

  .list ul{
    display: flex;
    align-items: center;
    gap:20px;
    list-style-type: none;
  }

  .menu{
    display: none;
  }

  .intro-container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .box1-2 .box:nth-child(1){
    display: flex;
   
  }
  
  .box1-2 .box:nth-child(1) div{
    width: calc(100% / 2);
  }
  

}